---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kieran 'K' Phang</title>
  </head>

  <body class="bg-[#0b0d10] text-white">
    <Header />

    <main class="pt-24">
      <!-- HERO -->
      <section class="max-w-6xl mx-auto px-6">
        <Hero />
      </section>

      <!-- ABOUT -->
      <section id="about" class="max-w-6xl mx-auto px-6 py-24">
        <About />
      </section>

      <!-- PROJECTS -->
      <section id="projects" class="py-24">
        <Projects />
      </section>

      <!-- EXPERIENCE -->
      <section id="experience" class="max-w-6xl mx-auto px-6 py-24">
        <Experience />
      </section>

      <!-- EDUCATION -->
      <section id="education" class="max-w-6xl mx-auto px-6 py-24">
        <Education />
      </section>
    </main>

    <Footer />
  </body>
</html>
